<div style="margin: 0 auto; width: 80%;">
    <h1 class="text-center">{{postagem.titulo}}</h1>
    <p>{{postagem.descricao}}</p>
    <small class="text-end text-muted">{{date}}</small>
    <hr>
    <p>{{postagem.conteudo}}</p>
</div>